{% load static %}
<!doctype html>
<html lang="en">

<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'style\bootstrap.css' %}">


    <title>Aboutus</title>



</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">

        <a class="navbar-brand " href="/">
            MiTec</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item ">
                    <a class="nav-link py-2" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="ecom/product">Product</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/about">AboutUs</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Technology
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/smartphone.html">Smartphone</a>
                        <a class="dropdown-item" href="/tablet.html">Tablet</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/laptop.html">Laptop</a>
                        <a class="dropdown-item" href="/pc.html">Pre-built Pc</a>
                    </div>
                </li>
            </ul>
            <a class="btn btn-outline-light my-2 my-sm-0" href="account/signup" role="button">SignUp</a>
        </div>


    </nav>
    <br>
    <div class="container-fluid mx-1 bg-light">
        <h2><b>AboutUs,</b></h2>
        <div class="text-left ">
            <img src="{% static '/assets/img/about.jpg' %}" class=" img-fluid " alt="...">
        </div>
    </div>
    <div class="container-fluid bg-light">
        <div class="container col-6 float-right ">
            <h6>Analyzing smartphone vs laptop performance, we see that in most cases the performance of laptops is
                better than that of phones. But if we compare cheap notebooks with expensive smartphones, of course,
                smartphone performance is better in this case.

                Phone processors get more powerful every year. Many flagship phones even have liquid cooling now. And
                almost all smartphones now come with 8-core CPUs, while most laptops still have 4-core processors.
                However, it doesn’t mean that 4-core Intel processors have worse performance than phone CPUs.

                Laptop processors, designed for Windows, are still more powerful. On the other hand, handsets don’t need
                so much power and their processors are better optimized for longer battery life. Most notebooks work for
                about 10-12 hours, while smartphones can be used for 20 hours.

                For this reason, many mobile phones can afford higher screen resolution than mobile computers, because
                if you have a laptop with 4K resolution, considering that it’s hard to put a huge battery inside it, its
                run time will be only 5-6 hours on average. One would appreciate 4K resolution on a bigger screen,
                though.

                Laptops are more powerful than smartphones because they are designed for multitasking work. You can open
                several windows and do several tasks simultaneously. A small smartphone’s screen is very inconvenient
                for this usage.



                Battery Lifespan
                Today, most devices are equipped with lithium-ion batteries that live for about 4 years, depending on
                how they are charged and stored. After about 500 circles of charging they start to lose capacity.

                To prolong the battery lifespan, it is recommended to keep the device away from heat (over 30ºC) or
                extreme cold (below 0ºC) and not to charge it up to 100% and discharge up to 0%. Ideally, keeping the
                charge between 75% and 65% at 20ºC conduces to the least capacity loss. In real life, however, it is
                more practical to charge the device to 75% and discharge to 25%.

                Avoid ultra-fast charging with high voltage because it heats the device and shortens the battery
                lifespan.

                It is recommended to calibrate that is fully discharge and charge smart batteries every 3 months for
                more accurate battery readings.

                The difference between a laptop and a smartphone is that you can use most laptops without batteries
                plugged-in with AC adapters. Store a Li-ion battery at approximately 50% in a cool place.



                Display and Keyboard
                The main difference between notebook displays and phone displays is the touchscreen. In the past, all
                notebooks had only touchpads. Now there are a lot of laptops that come with touchscreens, either 2-in-1
                laptops like the HP Spectre x360-13t, or classic clamshell models like the Dell XPS 13.

                As for smartphones, they all have touchscreens and virtual keyboards, except Blackberry phones, which
                are also equipped with physical keyboards. But if you need to type a lot and often, no smartphone can
                replace a laptop with its big display and physical keyboard.



                Internal Memory
                Laptops usually have more internal memory, 512 GB on average. However, today’s flagship cell phones
                don’t lag with a minimum of 128 GB, expandable with a micro SD card up to 2 T on some Android phones,
                while many portable computers don’t support micro SD cards. Though you can upgrade the internal storage
                drive, if you need more place for your data on the laptop.

                As for the RAM, most notebooks come with 8 or 16 GB. Whatever you choose, don't buy a laptop with less
                than 8 GB of RAM, it's too little for a modern computer.

                For a smartphone, 8 GB of RAM is more than enough today. But there are monsters with 12 GB of RAM like
                the Samsung Galaxy S20 Ultra already on the market.



                Connectivity Difference


                Connectivity



                Laptops have more ports as they can be connected to different devices, hard drives, DVD drives and so on
                compared to only USB or USB-C and headphone jack ports on smartphones.

                As for wireless connectivity, both smartphones and laptops have Wi-Fi and Bluetooth connection.

                The main difference is that most notebooks lack built-in LTE connectivity. That means you can’t connect
                to the Internet without Wi-Fi wirelessly unless you use smartphone tethering, a mobile hotspot or a 4G
                laptop stick.

                However, there are some LTE laptops or 2-in-1 tablets like the Microsoft Surface Pro X.



                Price Comparison
                Modern smartphones and laptops’ prices are not so different. But the most powerful portable PCs on
                average are more expensive than most of the best phones.

                There are, of course, phones that cost around $2000 like the Huawei P40 Pro Plus. Though it is an
                exception rather than a rule, while a $2000 price tag for a premium laptop is quite common.

                You can find a mobile with a decent performance at about $300 like the Lenovo Z6 Pro. But laptops with
                good performance start from about $700 like the Acer Aspire 5, for example.



                What is better, a Smartphone or a Laptop?
                Only you can decide whether a phone or a laptop is better for your needs. We’ve looked through the main
                features of laptops and smartphones, and see that these devices have much in common, but one will never
                replace the other since they have different designs and sizes.

                Your choice depends on your needs and your budget. In my case, it was easy to decide. But you may still
                use a pretty well-functioning smartphone and need a more capable of multitasking device for work,
                comfortable for typing.

                Even playing games, including browser RTS games like Fastchooser's Smartdroids, is more comfortable and
                less harmful to your eyes on a device with a bigger screen.

                To sum up, let's weigh the pros and cons of phones compared with laptops:

                Operating systems on laptops are less limited.
                Laptops have better performance than phones.
                You can use most notebooks without batteries.
                Phones are less comfortable for typing.
                The internal memory of a phone is usually smaller.
                Notebooks are equipped with more ports, but they lack built-in LTE connectivity, unlike smartphones.
                Phones are usually cheaper.
                Laptops are more productive and convenient for working but less portable than smartphones.

                Think twice before you buy a new laptop or smartphone. I hope this article and our device comparison
                tool Fastchooser will help you make the right choice.

                You can also read about the difference between laptops and tablets.

            </h6>
        </div>
    </div>



    <div class="container d-flex justify-content-center bg-light">
        <footer class="my-5 pt-5  text-muted text-center text-small ">
            <h2><u>MiTech</u></h2>
            <p class="mb-1">&copy; 2019-2020 Mi Tec</p>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#">Privacy</a></li>
                <li class="list-inline-item"><a href="#">Terms</a></li>
                <li class="list-inline-item"><a href="#">Support</a></li>
            </ul>
        </footer>
    </div>
    </div>


    <script src="{% static 'style\boot.js' %}"></script>
    <script src="{% static 'style\bootm.js' %}"></script>

</body>

</html>